#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
    margin: 0;
    padding: 0;
    position: relative;
}
#cssmenu {
    height: 49px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #eee9f0));
    background: -webkit-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    background: linear-gradient(top, #fefefe 0%, #eee9f0 100%);
    border-bottom: 2px solid #f08400;
    width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
    content: '';
    display: block;
    clear: both;
}
#cssmenu a {
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #ececec));
    background: -webkit-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #ececec 100%);
    background: linear-gradient(top, #fefefe 0%, #ececec 100%);
    color: #000;
    display: inline-block;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 49px;
    padding: 0 20px;
    text-decoration: none;
}
#cssmenu ul {
    list-style: none;
}
#cssmenu > ul {
    float: left;
}
#cssmenu > ul > li {
    float: left;
}
#cssmenu > ul > li > a {
    color: #000;
    font-size: 12px;
}
#cssmenu > ul > li:hover:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f08400;
    margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
}
#cssmenu > ul > li.active:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f08400;
    margin-left: -10px;
}
#cssmenu > ul > li.active > a {
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    background: #ececec;
    background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
    background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
}
#cssmenu > ul > li:hover > a {
    background: #ececec;
    background: -moz-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffeeff ef));
    background: -webkit-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -o-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: -ms-linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    background: linear-gradient(top, #ececec 0%, #ffeeff ef 100%);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
#cssmenu .has-sub {
    z-index: 1;
}
#cssmenu .has-sub:hover > ul {
    display: block;
}
#cssmenu .has-sub ul {
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    left: 0;
}
#cssmenu .has-sub ul li {
    *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
    background: #f08400;
    border-bottom: 1px dotted #ff9c24;
    filter: none;
    font-size: 11px;
    display: block;
    line-height: 120%;
    padding: 10px;
    color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
    background: #bd6800;
}
#cssmenu .has-sub .has-sub:hover > ul {
    display: block;
}
#cssmenu .has-sub .has-sub ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
    background: #bd6800;
    border-bottom: 1px dotted #ff9c24;
}
#cssmenu .has-sub .has-sub ul li a:hover {
    background: #a35a00;
}


/*menu 2*/

/* 2f4b87 */
/* 2f4b87 */
/* #1f325d */
/* Menu CSS */


#cssmenu2,
#cssmenu2 ul,
#cssmenu2 ul li,
#cssmenu2 ul li a {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
#cssmenu2 {
    width: auto;
    margin-bottom: 18px;
    
}


#cssmenu2:before,
#cssmenu2:after,
#cssmenu2 > ul:before,
#cssmenu2 > ul:after {
    content: '';
    display: table;
}
#cssmenu2:after,
#cssmenu2 > ul:after {
    clear: both;
}
#cssmenu2 a {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#cssmenu2 ul {
    background: #3583bf;
    border-radius: 3px;
    border: 1px solid #2b4479;
    border: 1px solid #2a6897;
    -webkit-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -o-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -ms-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
}
#cssmenu2 ul > li {
    float: left;
    list-style: none;
}
#cssmenu2 ul > li > a {
    display: block;
    text-decoration: none;
    padding: 15px 14px;
    position: relative;
}
#cssmenu2 ul > li > a:hover {
    background: #2a6897;
    -webkit-box-shadow: inset 0 0 1px #1f4c6f;
    -o-box-shadow: inset 0 0 1px #1f4c6f;
    -moz-box-shadow: inset 0 0 1px #1f4c6f;
    -ms-box-shadow: inset 0 0 1px #1f4c6f;
    box-shadow: inset 0 0 1px #1f4c6f;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
#cssmenu2 ul > li > a:hover:before {
    content: '';
    z-index: 2;
    position: absolute;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: -1px;
    opacity: .2;
}
#cssmenu2 ul > li > a:hover:after {
    content: '';
    z-index: 2;
    position: absolute;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: -1px;
    opacity: .2;
}
#cssmenu2 > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
#cssmenu2 > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    position: absolute;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    z-index: 200;
}
#cssmenu2 > ul > li > ul {
    width: 200px;
    position: absolute;
}
#cssmenu2 > ul > li > ul > li {
    float: none;
    position: relative;
}
#cssmenu2 > ul > li > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
#cssmenu2 > ul > li > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    position: absolute;
}
#cssmenu2 > ul > li > ul > li > ul {
    left: 200px;
    top: 1px;
    width: 200px;
}
#cssmenu2 > ul > li > ul > li > ul > li {
    float: none;
}

